@model IEnumerable<MasterDetails.Models.Spot>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spots</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new {@class="btn btn-primary btn-sm"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpotName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpotName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpotId }, new { @class = "btn btn-success btn-sm" }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpotId }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpotId }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
